<nav class="navbar navbar-light bg-light" style="margin-bottom: 10px">
      <a class="navbar-brand" href={% url 'index' %}>Home</a>
      <a class="navbar-brand" href={% url 'movies' %}>Movies</a>
      <a class="navbar-brand" href="{% url 'personalrecommendation' %}">Recommendations</a>
      <a class="navbar-brand" href="{% url 'movieparties' %}">Movie Parties</a>
      <a class="navbar-brand" href="{% url 'report' %}">Report</a>
      <a class="navbar-brand" href={% url 'logout' %}>Log out</a>
</nav>