{% extends 'registration/layout.html' %}

{% load crispy_forms_tags %}

{% block bodycontent %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3"></div>

            <div class="col-lg-6" style="text-align:center;">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <br>
                    <input type="submit" class="btn btn-primary" value="Become a member">
                </form>
                <br>
                <button type="button" class="btn btn-link" onClick="location.href={% url 'login' %}">Have an account? Login Here</button>
            </div>

            <div class="col-lg-3"></div>
        </div>
    </div>
{% endblock %}